/* universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --p-color: #8987a1;
  --o-color: #e95a08;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
.container {
}
body {
  background-color: #f5f8ff;
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.btn {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: white;
  border: none;
  font-size: 16px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 40px;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li:nth-child(2) a,
.navbar ul li:nth-child(3) a {
  color: var(--p-color);
}
.navbar ul li:first-child a,
.navbar ul li:last-child a {
  font-weight: 700;
  /* font-size: 16px; */
}

/* menu */
.menu {
  display: flex;
  /* flex-direction: row; */
  gap: 15px;
  margin-top: 230px;
}
.flower-img {
  border: 2px dashed rgb(145, 134, 134);
}

.menu-img {
  flex: 1;
}
.menu-title {
  font-family: "Noto Serif", serif;
  font-size: 65px;
  font-weight: 700;
}
.fresh {
  color: var(--o-color);
}
.menu-p {
  color: var(--p-color);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  gap: 10px;
}

/* item list */
.items-list {
  margin-top: 130px;
}
.our-plants {
  text-align: center;
  gap: 16px;
  margin-bottom: 50px;
}
.our-plants-title {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}
.our {
  color: var(--o-color);
}
.our-plants-desc {
  color: var(--p-color);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}

/* card */
.card {
  width: 270px;
  height: 484.94px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.name {
  font-size: 22px;
  font-weight: 500;
}
.price {
  font-size: 22px;
  font-weight: 700;
}
