/* universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --p-color: #8987a1;
  --o-color: #e95a08;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  background-color: #f5f8ff;
  max-width: 100%;
  margin: 0 auto;

  font-family: "Inter", sans-serif;
}
.btn {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: white;
  border: none;
  font-size: 16px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 40px;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li:nth-child(2) a,
.navbar ul li:nth-child(3) a {
  color: var(--p-color);
}
.navbar ul li:first-child a,
.navbar ul li:last-child a {
  color: rgb(121, 115, 115);
  font-weight: 700;
  /* font-size: 16px; */
}

/* menu */
.menu {
  display: flex;
  /* flex-direction: row; */
  gap: 15px;
  margin-top: 230px;
}
.flower-img {
  border: 2px dashed rgb(145, 134, 134);
}

.menu-img {
  flex: 1;
}
.menu-title {
  font-family: "Noto Serif", serif;
  font-size: 65px;
  font-weight: 700;
}
.fresh {
  color: var(--o-color);
}
.menu-p {
  color: var(--p-color);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  gap: 10px;
}

/* item list */
.items-list {
  margin-top: 130px;
}
.our-plants {
  text-align: center;
  gap: 16px;
  margin-bottom: 50px;
}
.our-plants-title {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}
.our {
  color: var(--o-color);
}
.our-plants-desc {
  color: var(--p-color);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}

/* card */
.card {
  width: 270px;
  height: 484.94px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.name {
  font-size: 22px;
  font-weight: 500;
}
.price {
  font-size: 22px;
  font-weight: 700;
}

/* hero start */
.hero {
  display: flex;
  flex-direction: row;
  margin-top: 210px;
  margin-bottom: 135px;
  gap: 60px;
}
.hero-img {
  position: relative;
  /* flex: 1; */
}
.hero-batch {
  position: absolute;
  width: 286px;
  height: 286px;
  top: -120px;
  right: -120px;
}
.hero-title-img {
  width: 100%;
  border: 1px dashed rgb(119, 115, 115);
}
.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20;
}
/* .hero-para {
  gap: 20px;
} */
.hero-list {
  list-style-type: disc;
  padding-left: 30px;
  color: var(--p-color);
  font-family: "Inter", sans-serif;
}
.hero-list li {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-title {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 20px;
}
/* deal */
.deal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.deal-title {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 16px;
}
.deal-title span {
  color: #e95a08;
}

.deal-para {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  color: var(--p-color);
  text-align: center;
}

/* grid-picture */
.pics {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 125px;
}
.pics-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pic1,
.pic2 {
  position: relative;
}
.text1,
.text2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.text1 :first-child,
.text2 :first-child {
  font-family: Noto Serif;
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
}
.text1 :last-child,
.text2 :last-child {
  text-decoration: underline;
  padding: 13px 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.pics img {
  filter: brightness(0.5);
  border-radius: 10px;
}
.pic2 {
  position: relative;
}
.pic3 {
  position: relative;
}
.zabo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.zabo-text :first-child {
  font-size: 40px;
  font-weight: 700;
  text-wrap: nowrap;
}
.zabo-text :last-child {
  padding: 25px;
  font-size: 28px;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}

/* cover */

.cover {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.cover-pic img {
  width: 100%;
}
.search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.search-title {
  margin-bottom: 15px;
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
}
.subscription-box {
  display: flex;
}
.subscription-box input {
  width: 644px;
  height: 50px;
  padding: 8px 20px;
}
.subscription-box button {
  width: 186px;
}

/* footer */
.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 110px;
}
.footer ul {
  list-style: none;
  color: var(--p-color);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.footer-title {
  display: flex;
  flex-direction: column;

  gap: 16px;
}
.footer-list1 li,
.footer-list2 li {
  margin-bottom: 32px;
}
.footer-title img {
  width: 135px;
  height: 82px;
}
.footer-title p {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  color: var(--p-color);
}
.footer-icon {
  width: 216px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-icon * {
  border: 1px dashed rgb(206, 203, 203);
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .navbar ul li {
    display: none;
  }

  .navbar ul li:last-child {
    display: block;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .menu {
    flex-direction: column;
    margin-top: 50px;
    padding: 0 15px;
  }
  .menu-title {
    font-size: 35px;
    text-align: center;
  }

  .menu-p {
    font-size: 18px;
    text-align: center;
  }
  .btn {
    width: 100%;
  }

  .menu-img img {
    width: 100%;
  }
  .our-plants-title {
    font-size: 32px;
  }

  .our-plants-desc {
    font-size: 16px;
    padding: 0 15px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 10px;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .card-img img {
    width: 100%;
  }
  .hero {
    flex-direction: column;
    margin: 80px 0;
    padding: 0 15px;
    gap: 30px;
  }

  .hero-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }

  .hero-list li {
    font-size: 16px;
  }

  .hero-img {
    width: 100%;
    margin: 0 auto;
  }
  .hero-batch {
    display: none;
  }
  .deal-title {
    font-size: 32px;
    text-align: center;
  }
  .deal-para {
    font-size: 16px;
    padding: 0 5px;
  }
  .deal {
    margin-bottom: 47px;
  }

  .pics {
    flex-direction: column;
    padding: 0 20px;
  }

  .pics img {
    width: 100%;
  }

  .text1 :first-child,
  .text2 :first-child {
    font-size: 20px;
  }

  .text1 :last-child,
  .text2 :last-child {
    font-size: 18px;
    padding: 8px 20px;
  }

  .zabo-text :first-child {
    font-size: 24px;
  }

  .zabo-text :last-child {
    font-size: 18px;
    padding: 10px;
  }
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 25px;
  }

  .footer-icon {
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-title p {
    font-size: 18px;
  }
  .hero-img {
    width: 80%;
  }
  .cover-pic img {
    width: 100%;
    height: 270px;
  }
  .search {
    width: 100%;
  }
  .search-title {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .subscription-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
  }
  .footer-icon * {
    border: none;
    padding-right: 25px;
    transform: scale(1.3);
  }
  .footer-title {
    margin: 30px 0;
  }
  .flower-img {
    border: none;
  }
}
